*{
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

body{
    background: rgb(222, 100, 73);
    transition: 1s;
}

h1{
    font-size: 60px;
    font-weight: 600;
   font-family:'Times New Roman', Times, serif;
}

h3{
    font-size: 25px;
}

p{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    letter-spacing: 0ch;
}

img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ul{
    li{
        list-style:none;
    }
}


// ###################

#home-content, #main-content{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;

    #contact{
        text-align: center;
    }

    #profile_image{
        height: 25%;
        position: relative;
        display: flex;
        justify-content: center;
        padding: .5em;
        animation-name: animate-image;
        animation-duration: 3s;
        top:0;


        @keyframes animate-image{
            from {
                top: -30%;
                opacity: 0;
            }
            to {top:0;
                opacity:1;
            }
        }

        img{
            width: 150px;
            min-width: 150px;
            max-width: 150px;
            border: 2px solid black;
            border-radius: 40%;
        }

        

    }

    .center-content{
        height:75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .center-content-home{
            margin-bottom: 2em;
            min-width: 370px;

            #self_description{
                text-align: center;
                animation-name: animate-details;
                animation-duration: 2s;
                top: 0;
                position: relative;
            }

            @keyframes animate-details{
                from {
                    top: 40%;
                    opacity: 0;
                }
                to {
                    top:0;
                    opacity:1;
                }
            }

            #links{
                display: flex;
                flex-direction: row;
                padding: 0;
                flex-wrap: wrap;
                justify-content: space-around;
                
                button{
                    width: 40%;
                    min-width: 40%;
                    max-width: 40%;
                    height: 50px;
                    min-height: 50px;
                    max-height: 500px;
                    margin-top: .4em;
                    border: 2px solid black;
                    font-size: larger;
                    font-weight: 600;
                    position: relative;
                    opacity: 1;
                    animation-name: animate-links;
                    // animation-delay: calc(-1s* var(--i));
                    animation-duration: 2s;

                    &:hover{
                        color: rgb(222, 100, 73) ;
                        background: black;
                    }
                }

                button:nth-child(1){
                    animation-duration: 1.5s;

                }
                button:nth-child(2){
                    animation-duration: 2s;

                }
                button:nth-child(3){
                    animation-duration: 2.5s;

                }
                button:nth-child(4){
                    animation-duration: 3s;

                }

                @keyframes animate-links {
                    from{
                        right: -15em;
                        opacity: 0;
                    }
                    to{
                        right: 0;
                        opacity: 1;
                    }
                }
            }

        }

        @media only screen and (min-width: 600px) {
            .center-content-home{
                display: flex;
                
                #self_description{
                    width: 50%;
                    min-width: 50%;
                    max-width: 50%;
                    text-align: justify;
                }

                #links{
                    width: 30%;
                    min-width: 30%;
                    max-width: 30%;
                    display: flex;
                    flex-direction: column;

                    button{
                        width: 100%;
                        min-width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}


#about-content{
    color: #DDA448;
    .center-content{
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul{
        li{
            font-size: 1.5rem;
            font-weight:600;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            list-style:none;
            &::before{
                content: "-  ";
            }
        }
    }

    #about-nav-links{
        height: 40px;
        min-height: 40px;
        max-height: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        button{
            height: 100%;
            min-height: 100%;
            max-width: 100%;
            border: 2px solid #DDA448;
            color: #DDA448;
            font-size: large;
            font-weight: 500;
        }

        .icon-link{
            margin-left: 1em;
        }

        i{
            opacity: 0.7;
            color: #DDA448;
            &:hover{
                opacity: 1;
            }
        }

       
        

    }
}

#skills-content{
    color: #E58C8A;
    h1{
        margin-top: 1em;

    }

    
    .center-content{
        min-height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 100%;
    }
    button{
        border: 2px solid #E58C8A;
        color: #E58C8A;
        margin-bottom: 2em;
    }

    button:hover {
        opacity: 0.7;
    }

    .allSkills{
        margin-top: 2em;
        width: 80%;
        max-width: 80%;
        min-width: 550px;
        // border: 2px solid green;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;

     }

    .skill_box{
        width: 30%;
        max-width: 30%;
        min-width: 30%;
        height: 100px;
        min-height: 100px;
        margin-bottom: 1em;

        .skill_icon{
            i{
                font-size: 2rem
            }
        }

        .skill_content{
            display: flex;
            flex-wrap: wrap;

        }
        

        // .skill_info{

        // }
    }
}



#portfolio-content{
    color: #62BCC4;
    a{
        text-decoration: none;
    }
    .center-content{
        padding-top: 4em;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button{
        border: 2px solid #62BCC4;
        color: #62BCC4;
        margin-bottom: 2em;
    }

    button:hover {
        opacity: 0.7;
    }
    
    .portfolio-item{
        width: 33em;
        max-width: 33em;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        background: #62BCC4;
        margin-bottom: 2em;
        padding: .5em;
        color: #0f393d;

        h3 {
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1.3em;
        }

        p {
            margin-bottom: 1,5em;
            font-size: 1.5rem;
            padding-left: 2em;
            padding-right: 2em;
        }

        .image {
            width: 100%;
            overflow: hidden;
            background: yellow;
            border: 2px solid black;
            border-radius: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2em;
        }

        .stack {
            font-size: 1rem;
            display: flex;
            flex-wrap: wrap;
            column-gap: 1em;
            margin-bottom: 2em;
            justify-content: center;
            font-style: italic;
            padding-left: 2em;
            padding-right: 2em;
        }

        .portfolio_link {
            background: #62BCC4;
            margin-bottom: 1em;
            max-width: fit-content;
            padding: 1em;
            color: #0f393d;
            border: 2px solid black;

            &:hover {
                opacity: 0.7;
            }

        }
    }
}
