.card {
  background:#FCFCD4;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid;
  border-color:#FCFCD4;
  font-weight: 700;
  overflow: hidden;
}

.card-one {
  padding: 2rem;
  width: 45%;
  min-width: 45%;
  align-items: center;
  text-align: center;
}

.card-one .card-link-redirect:hover {
  color: #4db5ff ;
}

.card-one:hover {
  border-color:#D8A45C;
}

.card-one .card-thumbnail,
.card-two .card-thumbnail {
  color: #9E702A;
  font-size: larger;
}

.card-two {
  padding: 3rem;
}

.card-two .title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.card-two .items-list {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 2rem
}

.card-two .items-list .item {
  display: flex;
  gap: 5%;
  width: 100%;
}

.card-two .items-list .item .container-icon {
  width: 20%;
}

.card-two .items-list .item .container-skill-text{
  width: 70%;
}

.card-three {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 20rem;
  min-width: 30%;
}

.card-three:hover {
  background-color: #E6F4F1;
}

.card-three .image {
  width: 100%;
  min-height: 10rem;
  max-height: 10rem;
  border-radius: 2rem;
  overflow: hidden;
 
}

.card-three .title {
  height: 3rem;
}

.card-three .text {
  min-height: 5rem;
  height: 5rem;
  font-size: 0.9em;
  word-spacing: 2px;
  line-height: 1.3rem;
}

.card-three .skills {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-three .skills .item {
  border-right: 2px solid black;
  font-size: 80%;
  padding-right: 0.3rem;
  padding-left: 0.2rem;
}

.card-three .skills .item:last-child {
  border-right: none;
  padding-right: 0;
}

.card-three .skills .item:first-child {
  padding-left: 0;
}

.card-three .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.card-three .btn-link {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  text-decoration: none;
  color: inherit;
  background: orange;
}

.card-four {
  max-width: 40rem;
  min-width: 9rem;
  width: 40rem;
  min-height: 18rem;
  max-height: 18rem;
  height: 18rem;
  padding: 2rem;
  align-items: center;
  padding-top: 2.3rem;
  word-spacing: 2px;
  line-height: 1.3rem;
}

.card-four .icon {
  background:#D8A45C ;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

@media only screen and (max-width: 950px) {
  .card-two {
    max-height: none;
    padding: 2rem;
  }

  .card-four {
    min-height: none;
    max-height: none;
    height: auto;
  }
}

@media only screen and (max-width: 285px) {
  .card {
    padding: 2rem;
    font-size: 0.8em;
  }

  .card h2, .card h3 {
    padding: 2rem;
    font-size: 1.2em;
  }

  .card-two .title {
    margin-bottom: 0.5rem;
  }

  .card-two .items-list {
    display: flex;
    flex-direction: column;
    gap: 1rem
  }
}

