.content-about {
  display: flex;
  gap: 5em;
  justify-content: center;
}

.self-description {
  margin-bottom: 2rem;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
