.content-about {
  display: flex;
  gap: 5em;
  justify-content: space-between;
}

.content-about-profile {
  width: 100%;
}

.self-description {
  margin-bottom: 2rem;
  text-align: left;
}

.cards-container-about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* Smaller screens */
@media only screen and (max-width: 950px) {
  .content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
