.container-navMenu {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3000;
  height: 6rem;
}

.transparent-effect {
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}

.container-navMenu .navMenu {
  position: absolute;
  width: 20rem;
  border-radius: 5rem;
  height: 4rem;
  display: flex;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  left: 50%;
  transform: translateX(calc(-50%));
  transition: all 1s ease;
  overflow: hidden;
}

.container-navMenu .navMenu-close {
  left: 90%;
  width: 1rem;
}

.container-navMenu .navMenu .nav-item {
  padding: 0.55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.container-navMenu .navMenu .nav-item:hover {
  background-color: burlywood;
  border-radius: 5rem;
}

.container-navMenu .navMenu-close .nav-item-closed {
  animation: close 1s linear 1 backwards;
  display: none;
}

@keyframes close {
  0% {
    display: flex;
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.container-navMenu .navMenu .hide-menu {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 1.3em;
}
