.contact-content {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-bottom: 5rem;
}

.contact-content .card-one {
  width: 90%;
}

.contact-content .card-one:hover {
  background: #FCFCD4;
  border-color:#FCFCD4
}


.container-email-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.container-contact-form {
  width: 50%;
  display: flex;
}

.container-contact-form .width-100 {
  width: 100%;
}

.container-contact-form input {
  width: 100%;
  height: 4rem;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.container-contact-form textarea {
  width: 100%;
  height: 9rem;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 950px) {
  .contact-content {
    flex-direction: column;
    gap: 2rem;
  }

  .container-email-card {
    width: 100%;
  }
  
  .container-contact-form {
    width: 100%;
  }
}
