.contact-content {
  display: flex;
  background: paleturquoise;
  gap: 5rem;
}

.contact-content div:nth-child(1) {
  width: 30%;
  min-width: 30%;
}

.contact-content div:nth-child(2) {
  width: 50%;
  min-width: 50%;
}

@media only screen and (max-width: 950px) {
  .contact-content {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-content div:nth-child(1) {
    min-height: 10rem;
    min-height: 10rem;
  }
  
  .contact-content div:nth-child(2) {
    min-height: 10rem;
    min-height: 10rem;
  }

}
