.footer {
  background: #3B4856;
  padding: 1rem;
  color: #E6F4F1;
}

.nav-footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.footer .social-media-container {
  /* gap: 2.4rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.footer .social-media-container a {
  padding: 0.6rem;
  border: 2px solid #E6F4F1;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-media-container:after {
  display: none;
}

.footer-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 950px) {
  .nav-footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .nav-footer .copyright {
    order: 200;
    padding: 2rem;
  }

  .footer .social-media-container {
    gap: 2.4rem;
    display: flex;
    flex-direction: row;
  }
}
