* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	/* background: linear-gradient(-45deg, #5406d4, #db00a2, #ff006e, #ff7346, #ffbc3e, #f9f871); */
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	min-height: 100vh;
  max-height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main section {
  margin-bottom: 5rem;
  padding-left: 10em;
  padding-right: 10em;
  overflow: hidden;
}

.p-med {
  font-size: 0.83rem;
  font-weight: bold;
}

button {
  background: none;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.7em;
  border: 1px solid;
}

button:hover {
  cursor:pointer;
}

.btn-style-1 {
  color: #4db5ff;
}

.btn-style-2 {
  background: #4db5ff;
}

.text1 {
  color: #4db5ff ;
}

.text2 {
  color: #fff;
}

.text3 {
  color: black;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
  background: yellow;
}

.container-row {
  display: flex;
}

.section-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  align-items: center;
}
